header {
    width: 100vw;
    background: #FFF1DF;
}

.logo {
    width: 113px;
    height: 113px;
    cursor: pointer;
}

/* .login img {
    width: 55px;
    height: 55px;
} */

.h-login {
    width: 55px;
    height: 55px;
    cursor: pointer;
}

.box-header {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.search {
    height: 35px;
    width: 60%;
    display: flex;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    background-color: white;
}

.search img {
    width: 30px;
    height: 30px;
}

.search input[type=search] {
    border: none;
    border-radius: 7px 0px 0px 7px;
    width: 100%;
    height: inherit;
}

.search input[type=search]:focus {
    outline: 0;
}

.btn-assinatura {
    color: black;
    text-decoration: none;
}

.btn-assinatura:visited {
    color: black;
    text-decoration: none;
}

.btn-assinatura h2 {
    margin: 0;
}